th {
    padding: 1.5rem 1rem 1.5rem 1rem ;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;

    border-style: solid;
    border-color: white;
    border-radius: 25px;

    gap: 3rem;
    padding: 2rem;

    background-color:#1D3F61;
}